.header{
    display: flex;
    justify-content: center;
}

.input{
    padding: 8px;
  border: 1px solid #5e5e5e;
  border-radius: 4px;
}

.btn{
  border: none;
  border-radius: 4px;
  padding: 8px;
  color:aliceblue;
  background-color: rgb(73, 73, 233);
}

.btn:hover{
  background-color: rgb(42, 42, 146);

}